<!-- app/templates/batch_update.html -->
{% extends "base.html" %}

{% block title %}
Batch Update - School Management App
{% endblock %}

{% block content %}
<h2>Batch Update</h2>
<form method="POST" action="{{ url_for('main.batch_update') }}">
    {{ form.hidden_tag() }}  <!-- Include the CSRF token -->
    {% for user_id in request.form.getlist('user_ids') %}
        <input type="hidden" name="user_ids" value="{{ user_id }}">
    {% endfor %}
    <div>
        {{ form.age.label }} {{ form.age }}
    </div>
    <div>
        {{ form.grade.label }} {{ form.grade }}
    </div>
    <button type="submit">Update Selected Users</button>
</form>
{% endblock %}
