<!-- app/templates/batch_update.html -->

{% extends "base.html" %}

{% block title %}
Batch Update - School Management App
{% endblock %}

{% block content %}
<h2>Batch Update</h2>
<div class="tab-container">
    <ul class="tab-headers">
        <li><a href="#personal-info">Personal Info</a></li>
        <li><a href="#academic-info">Academic Info</a></li>
        <li><a href="#family-info">Family Info</a></li>
        <li><a href="#additional-info">Additional Info</a></li>
    </ul>

    <form method="POST" class="tab-content-container">
        {{ form.hidden_tag() }}

        <div id="personal-info" class="tab">
            <div>
                {{ form.age.label }}<br>
                {{ form.age(size=32) }}<br>
                {% for error in form.age.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.gender_id.label }} {{ form.gender_id() }}<br>
                {% for error in form.gender_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.racial_category_id.label }} {{ form.racial_category_id() }}</label><br>
                {% for error in form.racial_category_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.ethnic_background_id.label }} {{ form.ethnic_background_id() }}</label><br>
                {% for error in form.ethnic_background_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.country_id.label }} {{ form.country_id() }}</label><br>
                {% for error in form.country_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.pronouns.label }}<br>
                {{ form.pronouns(size=32) }}<br>
                {% for error in form.pronouns.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.tribe_membership.label }} {{ form.tribe_membership() }}</label><br>
                {% for error in form.tribe_membership.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.religious_affiliation.label }}<br>
                {{ form.religious_affiliation(size=32) }}<br>
                {% for error in form.religious_affiliation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.church_affiliation.label }}<br>
                {{ form.church_affiliation(size=32) }}<br>
                {% for error in form.church_affiliation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div id="academic-info" class="tab">
            <div>
                {{ form.grade.label }}<br>
                {{ form.grade(size=32) }}<br>
                {% for error in form.grade.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.english_proficiency.label }}<br>
                {{ form.english_proficiency(size=32) }}<br>
                {% for error in form.english_proficiency.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.esl_ell_status.label }} {{ form.esl_ell_status() }}</label><br>
                {% for error in form.esl_ell_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.primary_language.label }}<br>
                {{ form.primary_language(size=32) }}<br>
                {% for error in form.primary_language.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.other_languages.label }}<br>
                {{ form.other_languages(size=32) }}<br>
                {% for error in form.other_languages.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.projected_graduation_year.label }}<br>
                {{ form.projected_graduation_year() }}<br>
                {% for error in form.projected_graduation_year.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.iep_status.label }} {{ form.iep_status() }}</label><br>
                {% for error in form.iep_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.plan_504_status.label }} {{ form.plan_504_status() }}</label><br>
                {% for error in form.plan_504_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.gifted_talented_program.label }} {{ form.gifted_talented_program() }}</label><br>
                {% for error in form.gifted_talented_program.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <!-- Add more academic info fields here -->
        </div>

        <div id="family-info" class="tab">
            <div>
                {{ form.family_structure.label }}<br>
                {{ form.family_structure(size=32) }}<br>
                {% for error in form.family_structure.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.custodial_arrangements.label }}<br>
                {{ form.custodial_arrangements(rows=5, cols=40) }}<br>
                {% for error in form.custodial_arrangements.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.parent_education_level.label }}<br>
                {{ form.parent_education_level(size=32) }}<br>
                {% for error in form.parent_education_level.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.hispanic_latino_origin.label }} {{ form.hispanic_latino_origin() }}</label><br>
                {% for error in form.hispanic_latino_origin.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.citizenship_status.label }}<br>
                {{ form.citizenship_status(size=32) }}<br>
                {% for error in form.citizenship_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.immigration_status.label }}<br>
                {{ form.immigration_status(size=32) }}<br>
                {% for error in form.immigration_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.parent_occupation.label }}<br>
                {{ form.parent_occupation(size=32) }}<br>
                {% for error in form.parent_occupation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.active_duty_military_parent.label }} {{ form.active_duty_military_parent() }}</label><br>
                {% for error in form.active_duty_military_parent.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.veteran_status_parent.label }} {{ form.veteran_status_parent() }}</label><br>
                {% for error in form.veteran_status_parent.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.homeless_status.label }} {{ form.homeless_status() }}</label><br>
                {% for error in form.homeless_status.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.migrant_education_program.label }} {{ form.migrant_education_program() }}</label><br>
                {% for error in form.migrant_education_program.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.foster_care_involvement.label }} {{ form.foster_care_involvement() }}</label><br>
                {% for error in form.foster_care_involvement.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <!-- Add more family info fields here -->
        </div>

        <div id="additional-info" class="tab">
            <div>
                {{ form.transportation.label }}<br>
                {{ form.transportation(size=32) }}<br>
                {% for error in form.transportation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.internet_access.label }} {{ form.internet_access() }}<br>
                {% for error in form.internet_access.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <label>{{ form.free_reduced_lunch_eligibility.label }} {{ form.free_reduced_lunch_eligibility() }}</label><br>
                {% for error in form.free_reduced_lunch_eligibility.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.family_income_bracket.label }}<br>
                {{ form.family_income_bracket(size=32) }}<br>
                {% for error in form.family_income_bracket.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.bus_route_number.label }}<br>
                {{ form.bus_route_number(size=32) }}<br>
                {% for error in form.bus_route_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.after_school_program.label }}<br>
                {{ form.after_school_program(rows=5, cols=40) }}<br>
                {% for error in form.after_school_program.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.device_ownership.label }}<br>
                {{ form.device_ownership(size=32) }}<br>
                {% for error in form.device_ownership.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <!-- Add more additional info fields here -->
        </div>

        <div>
            <button type="submit">Batch Update</button>
        </div>
    </form>
</div>
{% endblock %}
