<!-- app/templates/home.html -->

{% extends "base.html" %}

{% block title %}
Home Page - School Management App
{% endblock %}

{% block content %}
<h2>Welcome to the School Management App</h2>
<p><a href="{{ url_for('main.login') }}">Login</a></p>
<p><a href="{{ url_for('main.users') }}">View Users</a></p>

<h3>Reports</h3>
<ul>
    <li><a href="{{ url_for('main.report_grade') }}">Generate Grade Report</a></li>
</ul>

<h3>Admin Actions</h3>
<ul>
    <li><a href="{{ url_for('main.new_user') }}">Add New User</a></li> <!-- Add this line -->
</ul>
{% endblock %}
