<!-- app/templates/login.html -->

{% extends "base.html" %}

{% block title %}
Login - School Management App
{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('main.login') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
