<!-- app/templates/user_profile.html -->

{% extends "base.html" %}

{% block title %}
User Profile - School Management App
{% endblock %}

{% block content %}

    {% elif user.role.name == 'Parent' %}
        <div>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    {% elif user.role.name == 'Teacher' %}
        <div>
            {{ form.subject.label }}<br>
            {{ form.subject(size=32) }}<br>
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        {{ form.submit() }}
    </div>
</form>
-->
{% endblock %}
