<!-- app/templates/user_profile.html -->

{% extends "base.html" %}

{% block title %}
User Profile - School Management App
{% endblock %}

{% block content %}
<h2>{{ user.username }}'s Profile</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.age.label }}<br>
        {{ form.age(size=32) }}<br>
        {% for error in form.age.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.grade.label }}<br>
        {{ form.grade(size=32) }}<br>
        {% for error in form.grade.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
